html,
body,
.st-container,
.st-content {
	height: 100%;
	overflow-x: hidden;
	font-family: Calibri;
}

body
{
	background: #1E4352;
	color: #ffffff;
}

body::-webkit-scrollbar {
    display: none;
}


.st-content,
.st-content-inner {
	position: relative;
	left: 100px;
}

.st-container {
	position: absolute;
	left: 0px;
	top: 0;
	z-index: 1;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
}


.st-menu-open .st-pusher::after {
	width: 100%;
	opacity: 1;
}


.st-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: visible;
	overflow: scroll;
	width: 200px;
	height: 100%;
	background: #333333;s
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	overflow: auto;
	opacity: 1;
	float: left;


}

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 0.5em;
	color: rgba(255,255,255,0.8);
	font-weight: 300;
	font-size: 1.1em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #EBC562;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.8em;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #ffffff;
}


.pe_el{
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #ffffff;
}