a{
	text-decoration: none;
}

.article{
	width: 80%;
	position: relative;
	left: 10%;
	font-size: 14px;
	font-style: normal;
}

.title{
	font-size: 30px;
	color: #EBC562;
}

.subtitle{
	font-size: 22px;
	color: #E45A01;
}